@{
  Layout = "_Layout";
}

<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>

@model HairSalon.Models.Stylist

<div class="parent">
  <div class="page-content">
    <h2 class="sub-title">Stylists Details</h2>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
    <p>@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
    <p>@Html.ActionLink("Back to stylists", "Index")</p>

  </div>
</div>


