@{
  Layout = "_Layout";
}

<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>

</div>

@model HairSalon.Models.Stylist

<div class="parent">
  <div class="page-content">
    <h2 class="sub-title">Edit</h2>

    <h4>Edit this Stylist: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.StylistId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      <input type="submit" value="Save" />
    }
    <p class="link">@Html.ActionLink("Back to stylists", "Index")</p>
  </div>
</div>


