@{
  Layout = "_Layout";
}

<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>

@model HairSalon.Models.Client

<div class="parent">
  <div class="page-content">
    <h2 class="sub-title">Client Details</h2>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
    <p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
    <p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
    <p>@Html.ActionLink("Back to client list", "Index")</p>
  </div>
</div>

