@{
  Layout = "_Layout";
}
<div class="parent">

  <div class="home-title">
    <p>Eau Claire's Salon</p>
  </div>
  
</div>

@model HairSalon.Models.Client

<div class="parent">
  <div class="page-content">
    <h2>Edit</h2>

    <h4 class="sub-title">Edit this Client: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.ClientId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")

      <input type="submit" value="Save" />
    }

    <p class="link">@Html.ActionLink("Back to client list", "Index")</p>
  </div>
</div>


